<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mk4droid.IMCity_Pack"
      android:versionCode="29"
      android:versionName="1.84" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-feature    android:name="android.hardware.camera"></uses-feature> 
    
    <application android:label="@string/app_name" 
                  android:icon="@drawable/imc_logo_thermi"
                  android:theme="@android:style/Theme.NoTitleBar">
        <service android:enabled="true" android:name="com.mk4droid.IMC_Services.Service_Data" 
            android:exported="false"     />
        <service android:enabled="true" android:name="com.mk4droid.IMC_Services.Service_Location" 
            android:exported="false"/>
                      
        <uses-library android:name="com.google.android.maps" android:required="true"/>
        
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Splash_Register"
                  android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name="com.mk4droid.IMC_Activities.Group_Main" android:configChanges="orientation"/>
        <activity android:name="com.mk4droid.IMC_Activities.Group_Report"/>
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Main"/>
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Report"/>
        
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Setup"/>
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Filters"/>
        
        <activity android:name="com.mk4droid.IMC_Activities.Activity_NewIssueA" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.mk4droid.IMC_Activities.Activity_NewIssueB" />
        
        <activity android:name="com.mk4droid.IMC_Activities.Activity_AR" android:screenOrientation="landscape"/>
        
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Entity_Details" android:screenOrientation="portrait"/>
        
        
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Register"></activity>
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Issue_Details"></activity>
        <activity android:name="com.mk4droid.IMC_Activities.Activity_Information_Detailed"></activity>
		<activity android:name="com.mk4droid.IMC_Activities.Group_NewIssue"></activity>
		<activity android:name="com.mk4droid.IMC_Activities.Group_ListOfIssues"></activity>
		<activity android:name="com.mk4droid.IMC_Activities.Activity_List"></activity>
		<activity android:name="com.mk4droid.IMC_Activities.Activity_SoloMap"></activity>
		<activity android:name="com.mk4droid.IMC_Activities.Activity_TabHost"></activity>
        
    </application>
</manifest>